In [3]:
list(range(5,10,2))

[5, 7, 9]

In [5]:
range(5,10)

range(5, 10)

In [7]:
range(10)

range(0, 10)

In [9]:
list(range(5,10,-1))

[]

In [17]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
list(range(15,3,-1))

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4]

In [29]:
y = int(input('Enter the number:'))
for i in range(1,11):
    print(i * y)

Enter the number: 3

3
6
9
12
15
18
21
24
27
30

In [31]:
x = int(input('Enter the number:'))
for i in range(1,11):
    print(i * x)

Enter the number: 4

4
8
12
16
20
24
28
32
36
40

In [33]:
for i in range(2,21,2):
    # lower limit,upper limit,step
    print(i)

2
4
6
8
10
12
14
16
18
20

In [55]:
for i in range(20,10,-2):
    if(i==16):
      continue
    print(i)
else:
    print("heloo")

20
18
14
12
heloo

In [57]:
for i in range(20,10,-2):
    if(i==16):
      break
    print(i)
else:
    print("heloo")

20
18

In [61]:
2+'a'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: can't multiply sequence by non-int of type 'float'