In [1]:
# Basic Python Program using Tuples
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")

In [3]:
my_tuple

('apple', 'banana', 'cherry')

In [5]:
# Accessing elements of a tuple
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
print("Third element:", my_tuple[2])

First element: apple
Second element: banana
Third element: cherry

In [7]:
# Trying to change the value of an element will result in an error
# my_tuple[0] = "orange"  # This will raise a TypeError

# Looping through a tuple
for item in my_tuple:
    print("Looping through tuple:", item)

Looping through tuple: apple
Looping through tuple: banana
Looping through tuple: cherry

In [9]:
# Checking if an item exists in a tuple
if "banana" in my_tuple:
    print("Banana is in the tuple")

Banana is in the tuple

In [11]:
# Tuple length
print("Length of tuple:", len(my_tuple))

Length of tuple: 3

In [13]:
# Tuple with different data types
mixed_tuple = ("abc", 123, 45.67, True)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: ('abc', 123, 45.67, True)

In [15]:
# Nested tuples
nested_tuple = (my_tuple, mixed_tuple)
print("Nested tuple:", nested_tuple)

Nested tuple: (('apple', 'banana', 'cherry'), ('abc', 123, 45.67, True))

In [17]:
# Tuple unpacking
fruit1, fruit2, fruit3 = my_tuple
print("Unpacked tuple:", fruit1, fruit2, fruit3)

Unpacked tuple: apple banana cherry

In [19]:
# Creating a tuple with one element (note the comma)
single_element_tuple = ("apple",)
print("Single element tuple:", single_element_tuple)
print("Type of single element tuple:", type(single_element_tuple))

Single element tuple: ('apple',)
Type of single element tuple: <class 'tuple'>

In [21]:
# Empty tuple
empty_tuple = ()
print("Empty tuple:", empty_tuple)
print("Type of empty tuple:", type(empty_tuple))

Empty tuple: ()
Type of empty tuple: <class 'tuple'>